html{
  margin:0;
  padding:0;
}

body {
  background: rgba(1, 1, 1, 0);
  height: 100%;
  position: fixed;
  width: 100vw;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html,body{
      transform: scale(.6) !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  html,body{
    transform: scale(.65) !important;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  html,body{
    transform: scale(.75) !important;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  html,body{
    transform: scale(.9) !important;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  html,body{
    transform: scale(1) !important;
}
}