.user-title{
    height: fit-content;
    font-size: 24px;
    font-weight: bold;
    border-bottom: solid 1px #000;
}

.navigation-tab{
    width: 100%;
    margin-top: 5rem;
}

.user-table{
    margin-top: 2rem;
    padding-left: 5rem;
    padding-top: 2rem;
}

.modal-add-user{
    margin: auto !important;
}

.user-rows{
    cursor: pointer;
}


.delete-icon{
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.delete-icon:hover{
    transform: scale(1.15);
}

.options{
    padding-top: 12px;
    position: absolute;
    width: 40px;
    display: flex;
    justify-content: space-between;
    left: -50px;
}

.modal-bg{
    position: absolute;
    top: 0;
    width: 100% !important;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: grid;

}

.spinner-bg{
    width: 100%;
    height: 100%;
    display: flex;
}

#spinner{
    margin: auto;
}

#save{
 
}

.table-container{
    position: relative;
}

