#container{
    height: auto;
}
/* sidebar styling */
.sidebar{
    position: relative;
    max-width: 240px;
    height: auto;
    background-color: #151b26;
    opacity: .9;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.sidebar div {
    margin: 20px;
    cursor: pointer;
}


.navigation {
    position: relative;
    top: 5%;
}

.navigation div:hover{
    border-bottom: solid 1px rgba(255,255,255,0.6);
   
}

#brand-title{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
.body-container{
    height: auto;
    margin: 0;
    padding: 4rem;
}
.home-body-container{
    display: grid;
    grid-template-columns:  repeat( auto-fit, minmax(300px, 1fr) );
    grid-gap: 5rem;
    align-items: center;
    grid-auto-flow: row;
    height: auto;
    padding-left: 3rem;
    padding-right: 3rem;
    
}

.card-container{
    display: grid; 
    grid-gap: 1rem;
}

.cards{
    width: 300px;
    height: 200px;
    border: solid 1px white;
    border-radius: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform .3s;
}

.cards:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px rgba(0,0,0,0.2);
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1020px) {
    .body-container{
        min-width: 100%;
        grid-template-columns: '1fr 1fr'
    }
    .card-container{
        min-width: 300px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .body-container{
        min-width: 90%;
    }
    #container{
        height: 100vh;
    }
}