
.container{
    padding: 24px;
}

.navigation-tab-menu{
    display: flex;
    width: 80%;
}
#h2-title{
    text-transform: uppercase !important;
    border-bottom: solid 2px #000;
    width: fit-content;
    font-weight: bold;
    margin-top: 20px;
}

#nested-dropdown{
    margin: 5px;
}

.section-container{
    width: 110%;
    max-height: 70%;
    position: relative;
}

.reports-table{
    max-height: 100%;    
}