
.container{
    padding: 24px;
}
.Container{
    padding: 24px;
}

.navigation-tab-menu{
    display: flex;
    margin-top: 2.5rem;
}
#h2-title{
    text-transform: uppercase !important;
    border-bottom: solid 2px #000;
    width: fit-content;
    font-weight: bold;
    margin-top: 20px;
}

#nested-dropdown{
    margin: 5px;
}


.reports-table{
    max-height: 100%;    
}

.checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .label {
    width: 48px;
    height: 20px;
    background-color:#111;
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
    cursor: pointer;
  }
  
  .ball {
    width: 18px;
    height: 18px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
  /*  target the elemenent after the label*/
  .checkbox:checked + .label .ball{
    transform: translateX(24px);
  }
  
  .fa-moon {
    color: white;
    width: 16px;
    height: 16px;
  }
  
  .fa-sun {
    color: yellow;
  }