.container{
    width: 100vw;
    height: 100vh;
    position: absolute;
    right: 20%;
    padding: 24px;
}

h2{
    text-transform: uppercase !important;
    border-bottom: solid 2px #000;
    width: fit-content;
    font-weight: bold;
    margin-top: 20px;
}